<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Unipar</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <header class="header-bar">
        <div class="headerImage">
            <input type="file" id="fileInput" class="upload-button" accept="image/*" onchange="displayImage(event)">
            <img id="userImage" src="https://via.placeholder.com/50" alt="Foto do usuário">
            <button class="btn btn-light ml-2" onclick="document.getElementById('fileInput').click()">Alterar Foto</button>
        </div>
    </header>

    <div id="welcome-form" class="container mt-5">
        <h2 class="text-center">Chat Unipar</h2>
        <hr>
        <div class="row d-flex flex-column">
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label for="username">Nome:</label>
                    <input type="text" id="username" class="form-control" placeholder="Escolha seu nome de usuário">
                </div>
            </div>
            <div class="button row justify-content-end">
                <button class="btn btn-primary" onclick="enterChatRoom()">Acessar Sala de Bate-Papo</button>
            </div>
        </div>
    </div>

    <div id="chat-room" class="">
        <h2 class="text-center">Sala de Bate-Papo UNIPAR</h2>
        <div id="messages" class=""></div>
        <div class="form-group">
            <input type="text" id="messageInput" class="form-control" placeholder="Digite sua mensagem">
        </div>
        <div class="row justify-content-end" style="margin-right: 3px;">
            <button class="btn btn-success" onclick="sendMessage()" style="margin-right: 4px;">Enviar</button>
            <button class="btn btn-danger" onclick="leaveChat()">Sair da Sala</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
